@model VwFormsData


<form method="post" asp-controller="Forms" asp-action="btnSaveUserAnswer" role="form">

    @for (var i = 0; i < Model.QustinosList.Count; i++)
    {

        <p>@Model.QustinosList[i]</p>
        
        <input type="text" name="AnswersList" value="@Model.AnswersList[i]" />
        <br />
        <hr />
    }


    <button type="submit" asp-controller="Forms" asp-action="btnSaveUserAnswers">Send</button>
</form>
