@model List<Form> // تأكد من تعيين الـ Model للبيانات التي تم استرجاعها

<table>
    <thead>
        <tr>
            <th>FormId</th>
            <th>FormData</th>
            <!-- اضف المزيد من الأعمدة حسب البيانات التي تريد عرضها -->
        </tr>
    </thead>
    <tbody>
        @foreach (var form in Model)
        {
            <tr>
                <td>@form.FormDate</td>
                <td>@form.FormDate</td>
                <!-- اضف البيانات الأخرى للفورم حسب الحاجة -->
            </tr>
        }
    </tbody>
</table>
