
<meta charset="utf-8">
<title>опроспро - простой и удобный инструмент для онлайн голосований</title>

<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="description" content="Создайте опрос и поделитесь ссылкой или QR кодом. Используйте опросы в режиме реального времени на презентациях и онлайн встречах. Простой и удобный сервис для онлайн голосований.">

<meta name="generator" content="Hugo 0.92.1" />

<!-- plugins -->

<link rel="stylesheet" href="~/Home/plugins/bootstrap/bootstrap.min.css">

<link rel="stylesheet" href="~/Home/plugins/themify-icons/themify-icons.css">

<link rel="stylesheet" href="~/Home/plugins/slick/slick.css">


<!-- Main Stylesheet -->

<link href="~/Home/scss/style.min.css" rel="stylesheet" media="screen" />

<!--Favicon-->
<link rel="shortcut icon" href="~/Home/images/favicon.png" type="image/x-icon">
<link rel="icon" href="~/Home/images/favicon.png" type="image/x-icon">



<meta property="og:title" content="опроспро - простой и удобный инструмент для онлайн голосований" />
<meta property="og:description" content="Создайте опрос и поделитесь ссылкой или QR кодом. Используйте опросы в режиме реального времени на презентациях и онлайн встречах. Простой и удобный сервис для онлайн голосований." />
<meta property="og:type" content="website" />
<meta property="og:url" content="index.html" />
<meta property="og:site_name" content="опроспро- простой и удобный инструмент для онлайн голосований" />




<script async src="https://www.googletagmanager.com/gtag/js?id=G-8MNXSR4218"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-8MNXSR4218');
    gtag('config', 'UA-179255379-2');
</script>


<script>
    !function (e, t, n, s, u, a) {
        e.twq || (s = e.twq = function () {
            s.exe ? s.exe.apply(s, arguments) : s.queue.push(arguments);
        }, s.version = '1.1', s.queue = [], u = t.createElement(n), u.async = !0, u.src = '~/Home/~/Home/static.ads-twitter.com/uwt.js',
            a = t.getElementsByTagName(n)[0], a.parentNode.insertBefore(u, a))
    }(window, document, 'script');

    twq('init', 'o5gae');
    twq('track', 'PageView');
</script>

<script src="~/Home/js/script.min.js"></script>

<!-- navigation -->
<header class="navigation">
    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand" href="index.html">

                <!-- <img width="200px" height="30px" class="img-fluid" src="/ОпросПро-logo.png" > -->

            </a>
            <button class="navbar-toggler border-0" aria-label="menu button" type="button" data-toggle="collapse" data-target="#navigation">
                <i class="ti-menu"></i>
            </button>

            <div class="collapse navbar-collapse text-center" id="navigation">
                <ul class="navbar-nav mx-auto">


                    <li class="nav-item">
                        <a class="nav-link" href="features/index.html">Возможности</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="blog/index.html">Блог</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="contact/index.html">Контакты</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="faq/index.html">FAQ</a>
                    </li>


                </ul>



                <a href="/Forms/Question" class="btn btn-sm btn-primary ml-3">Приступить к работе</a>




                <a href="/Users/Login">Вход</a>




                <!-- languages switchers -->

                <ul class="navbar-nav mx-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Русский
                        </a>
                        <div class="dropdown-menu">

                            <a href="index.html" class="dropdown-item">Русский </a>

                        </div>
                    </li>
                    <ul>

                        <!-- /languages switchers -->



            </div>

            <div class="collapse navbar-collapse text-center">
            </div>

        </nav>

    </div>
    <!-- /header -->
</header>


@RenderBody()

<footer class="bg-light section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-5">

                <div class="h3 mb-4">Компания</div>
                <ul class="list-unstyled footer-list">

                    <li><a href="index.html">О компании</a></li>

                </ul>

            </div>
            <div class="col-md-3 col-sm-6 mb-5">
            </div>
            <div class="col-md-3 col-sm-6 mb-5">

                <div class="h3 mb-4">Поддержка</div>
                <ul class="list-unstyled footer-list">

                    <li><a href="faq/index.html">FAQ</a></li>

                </ul>

            </div>
            <div class="col-md-3 col-sm-6 mb-5">
                @*                     <a class="d-block mb-3" href=""><img width="114px" height="23px" class="img-fluid" src="/ОпросПро-logo.png" alt="опроспро - "></a>
                *@                    <p class="mb-4">Простой и понятный инструмент для создания опросов</p>


                <ul class="list-inline social-icons">

                    <li class="list-inline-item"><a href=""><i class="ti-facebook"></i></a></li>

                    <li class="list-inline-item"><a href=""><i class="ti-twitter-alt"></i></a></li>

                </ul>

            </div>
        </div>
        <div class="border-top border-default text-center py-4 mt-4">
            <small class="content">опроспро 2023 ©. Made with ❤️ in Almaty.</small>
        </div>
    </div>
</footer>

<!-- JS Plugins -->

<script src="~/Home/plugins/jQuery/jquery.min.js"></script>

<script src="~/Home/plugins/bootstrap/bootstrap.bundle.min.js"></script>

<script src="~/Home/plugins/slick/slick.min.js"></script>


<!-- Main Script -->

<script src="~/Home/js/script.min.js"></script>
<script src="~/Home/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Home/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/Home/js/site.js" asp-append-version="true"></script>



<script type="text/javascript" src="~/Home/Scripts/jquery-1.7.1.js"></script>
<script type="text/javascript" src="~/Home/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Home/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Home/Scripts/passwordscheck.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


@await RenderSectionAsync("Scripts", required: false)
